
/* booking input section */
.fx-booking #fx-tab_nav div.selected  input[type="button"],
.fx-booking #fx-tab_nav div.selected  button[type="button"],
.fx-booking #fx-tab_nav div.selected  button {
  width: 146px;
  height: 71px;
  padding: 10px;
  border-radius: 4px;
  font-size: var(--normal-descriptionsize);
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 15px;
}



 .fx-booking .fx-giftbox{
  width:668px;
}
 .fx-booking #fx-tab_nav div.selected .fx-element-box, .fx-booking .fx-commoninput .fx-element-box{
  display: inline-block;
  text-align: left;
  width: 100%;
  margin-bottom: 12px;
  position: relative;
}

 .fx-booking .fx-commoninput label.fx-mobile-input{

}
 .fx-booking .fx-commoninput label{
  font-family: "Roboto", sans-serif;
  font-size:16px;
  font-weight: 400;
  color: var(darkgrey);
  text-transform: capitalize;
  margin-bottom: 7px;
}
 .fx-booking .fx-commoninput .fx-inputgroup {
  width: 100%;
  display: flex;
  gap:8px;
}

.fx-booking .fx-commoninput .bigtextbox{
  height: 112px !important;
}
 .fx-booking .fx-commoninput input[type="text"],
 .fx-booking .fx-commoninput input[type="email"] {
  width: 100%;
  padding: 16px 12px;
  border-radius: 4px;
  border: 1px solid var(--border-color);;
  /* box-sizing: border-box; */
  font-size: var(--normal-descriptionsize);
  font-weight: 400;
  cursor: pointer;
  margin: 0px;
  max-width: inherit;
  height: inherit;
  margin-top: 0px;
}
                  


 .fx-booking .fx-commoninput input[type="text"].fx-invalid,.fx-booking .fx-commoninput input[type="email"].fx-invalid{
  border: 1px solid var(--error-color)  !important;
 }

 .fx-booking .fx-commoninput select{
   width: 100%;
  padding: 16px 12px;
  border-radius: 4px;
  border: 1px solid var(--border-color);;
  /* box-sizing: border-box; */
  font-size: var(--normal-descriptionsize);
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 10px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
 }
.fx-selectwrapper::after {
    content: '';
    position: absolute;
    right: 14px;
    top: 50%;
    width: 8px;
    height: 8px;
    border-right: 2px solid #555;
    border-bottom: 2px solid #555;
    transform: translateY(-60%) rotate(45deg);
    pointer-events: none;
}

 /* .fx-booking .fx-commoninput input[type="text"]:focus-visible,
 .fx-booking .fx-commoninput input[type="email"]:focus-visible
{
  border:1px solid #ccc !important;
} */
 .fx-booking .fx-inputgroup {
  width: 100%;
  display: flex;
  gap: 30px;
}
.fx-booking input[type="text"].inputbox, .fx-booking input[type="email"].inputbox{
  border-radius: 4px;
}
 .fx-booking input[type="text"],
 .fx-booking input[type="email"] {
  width: 100%;
  padding: 16px 12px;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  /* box-sizing: border-box; */
  font-size: var(--normal-descriptionsize);
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 15px;
  max-width: 100%;
  height: inherit;
  margin-top: 0px;
}

.fx-booking input[type="text"].fx-inputbox-gift {
  border-radius: 4px;
}

 .fx-booking .fx-input-wrapper {
  position: relative;
  width: 100%;
}

 .fx-booking .fx-input-wrapper i {
  position: absolute;
  right: 15px;
  top: 21%;
  font-size: 25px;
  color: var(--input-icon-color); /* Adjust color for the icon */
  pointer-events: none; /* Prevent the icon from blocking clicks on the input */
}

/* Example email and phone icons */
 .fx-booking .fx-input-wrapper .email-icon::before {
  content: "\2709"; /* Envelope Unicode character for email */
}

 .fx-booking .fx-input-wrapper .phone-icon::before {
  content: "\260E"; /* Telephone Unicode character for phone */
}
 .fx-booking .fx-element-box .btn-primary.active {
  border: 1px solid var(--primary-color) !important;
  color: var(--primary-color);
}

.fx-booking .btn-primary {
  border: 1px solid transparent;
  padding: 12px 24px;
  width: 240px;
  font-weight: 400;
  font-size: var(--normal-descriptionsize);
  font-family: "Roboto", sans-serif;
  border-radius: 44px;
  background: var(--primary-color);
  color: var(--white);
}


.fx-booking input[type="submit"],
.fx-booking input[type="button"],
.fx-booking button[type="button"] {
  width: auto;
  padding: 12px 24px;
  font-weight: 400;
  font-size: var(--normal-descriptionsize);
  font-family: "Roboto", sans-serif;
  border-radius: 44px;
  cursor: pointer;
}


.fx-booking .btn-secondary{
    width: 196px;
    font-size: var(--normal-descriptionsize);
    font-weight: 400;
    border: 1px solid var(--primary-color);
    text-align: center;
    border-radius: 33px;
    color: var(--primary-color);
    margin-top:0px;
    padding: 14px 0px;
    cursor: pointer;
    color: var(--primary-color);
    background:#fff;
}


 .fx-booking .fx-element-box .btn-primary:hover,
 .fx-booking .fx-element-box input[type="submit"]:hover,
 .fx-booking .fx-element-box input[type="button"]:hover,
 .fx-booking .fx-element-box button[type="button"]:hover {
  background: var(--darkblue-color);
  color: var(--white);
  border: 1px solid var(--border-color);
}

 .fx-booking .fx-element-box input[type="text"]:focus {
  border: 1px solid var(--border-color);
}


/* Coupon Section */
 .fx-booking .fx-couponcontainer {
  width:500px;
  position: relative;
  margin-top:30px;
}
 .fx-booking .fx-couponcontainerinputbox{
  display: flex;
}
 .fx-booking .fx-coupon-box {
  display: flex;
  align-items: center;
  background: var(--white);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  margin-bottom: 10px;
  width: 95%;
}
 .fx-booking .fx-coupon-box input[type="text"] {
  flex: 1;
  border: none !important;
  outline: none;
  font-size: var(--small-descriptionsize);
  margin: 0px;
  height:40px;
}
 .fx-booking .fx-coupon-box input:focus{
  border:none;
}

 .fx-booking .fx-apply-btn {
  background: none;
  border: none;
  color: var(--grey);
  font-size: var(--small-descriptionsize);
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 0px !important;
  height:inherit !important;
  width:auto !important;
}

 .fx-booking .fx-applied-btn{

 }

 .fx-booking .fx-apply-btn:hover {
  color: var(--grey);
}

 .fx-booking .fx-delete-icon {
  color: var(--grey);
  font-size: var(--normal-descriptionsize);
  cursor: pointer;
  margin-left: 10px;
  margin-top:15px;
}

 .fx-booking .fx-delete-icon:hover {
  color: var(--darkblue-color);
}

.fx-tooltip {
  visibility: hidden;
  width: 120px;
  background-color: var(--white);
  font-size: var(--small-descriptionsize);
  font-weight: 400;
  line-height: 23px;
  color: var(--grey);
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0px 0px 24px 0px var(--box-shadow);
  position: absolute;
  // bottom: 130%;
  // left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  text-align: center;
}

.fx-tooltip-visible{
  opacity: 1;
  left:24px;
  display: block;
  visibility: initial;
  top: -60px;
  overflow:initial;
}

.p-datepicker table td > span{
  overflow:initial;
}


 .fx-booking .fx-tooltip {
  visibility: hidden;
  width: 200px;
  background-color: var(--white);
  font-size: var(--small-descriptionsize);
  font-weight: 400;
  line-height: 23px;
  color: var(--grey);
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0px 0px 24px 0px var(--box-shadow);
  position: absolute;
  z-index:99;
  bottom: 130%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

 .fx-booking .fx-tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 8px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

 .fx-booking .fx-tooltip-container:hover .fx-tooltip {
  visibility: visible;
  opacity: 1;
}

.p-tooltip{
  background-color: var(--white);
  box-shadow: none;
  border: none;
}

 .fx-booking .fx-info-icon {
  font-size: var(--normal-descriptionsize);
  color: var(--grey);
  cursor: pointer;
}


 /* Checkbox styles */
.fx-booking .fx-element-box input[type="checkbox"] {
  display: none;
}

 .fx-booking .fx-element-box .checkbox-label {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

 .fx-booking .fx-element-box .checkbox-label::before {
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 4px;
  border: 2px solid var(--border-color);;
  background-color: var(--white);;
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
}

 .fx-booking .fx-element-box input[type="checkbox"]:checked + .checkbox-label::before {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

 .fx-booking .fx-element-box input[type="checkbox"]:checked + .checkbox-label::after {
  content: "";
  position: absolute;
  left: 7px;
  top:3px;
  width: 5px;
  height: 10px;
  border: solid var(--white);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

 .fx-booking .fx-element-box input[type="checkbox"]:disabled + .checkbox-label {
  color: var(--disabled-backgrouncolor);
  cursor: not-allowed;
}

 .fx-booking .fx-element-box input[type="checkbox"]:disabled + .checkbox-label::before {
  background-color: var(--disabled-backgrouncolor);
  border-color: var(--disabled-bordercolor);
}

.fx-extracontentboxlist .fx-quantitybox {
    width: auto;
    float: left;
}

.fx-extracontentboxlist .fx-quantitybox .decrement {
    border-radius: 50%;
    margin-bottom: 0px;
}
.fx-extracontentboxlist .fx-quantitybox input[type="number"] {
    width: 30px;
    height: 26px;
    text-align: center;
    border: none;
    font-size: var(--normal-descriptionsize);
    box-sizing: border-box;
    margin:0px;
}
 .fx-extracontentboxlist .fx-quantitybox .increment {
    border-radius: 50%;
    margin-bottom: 0px;
}

.fx-extracontentboxlist .fx-quantitybox button {
    width: 27px;
    height: 27px;
    color: var(darkgrey);
    font-size: var(--normal-descriptionsize);
    border: 0.76px solid var(--border-color);
    background: none;
    cursor: pointer;
    outline: none;
    padding: 0px;
}
 .fx-extracontentboxlist .fx-common {
        display: flex;
    justify-content: space-between;
    float: right;
 position: absolute;
 right:10px;
 bottom: 5px;
}

 /* Radio button styles */
 .fx-booking .fx-element-box input[type="radio"] {
  display: none;
}
.fx-booking .fx-element-box .radio-label {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}


.fx-booking .fx-element-box .radio-label::before {
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid var(--border-color);
  background-color: var(--white);
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
}


.fx-booking .fx-element-box input[type="radio"]:checked + .radio-label::after {
  content: "";
    position: absolute;
    left: 4px;
    width: 10px;
    height: 10px;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.fx-booking .fx-element-box input[type="radio"]:checked + .radio-label::before {
  border-color: var(--primary-color);
}

.fx-booking .fx-element-box input[type="radio"]:disabled + .radio-label {
  color: var(--disabled-backgrouncolor);
  cursor: not-allowed;
}

.fx-booking .fx-element-box input[type="radio"]:disabled + .radio-label::before {
  background-color: var(--disabled-backgrouncolor);
  border-color: var(--disabled-bordercolor);
}
.fx-booking .fx-commoninput .fx-element-box.fx-checkoutbuttonbar{
  display: flex;
  justify-content: flex-end;
}

.fx-booking .fx-phone-input {
  // display: flex;
  align-items: center;
  border: 1px solid var(--border-color, #ccc);
  border-radius: 4px;
  // overflow: hidden;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}
.fx-booking .fx-phone-input .arrow{
  margin-left: inherit;
}
.fx-booking .fx-phone-input .country-list{
  margin-top:0px !important;
}

.fx-booking .fx-phone-input .country-list .search-box{
  width:87%;
}
.fx-booking .fx-errortext{
  color:var(--error-color);
  float: left;
  margin-top:-5px;
}
.fx-booking .fx-phone-input .country-code {
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: #e9e9e9;
  padding: 16px 12px;
  font-size: 14px;
  color: #000;
  flex-shrink: 0;
}

.fx-booking .fx-phone-input .country-code img {
  width: 20px;
  height: 14px;
  border-radius: 2px;
  object-fit: cover;
}

.fx-booking .fx-phone-input input {
  border: none;
  outline: none;
  font-size: 14px;
  flex: 1;
  height: 52px;
}

.fx-booking .fx-phone-input input::placeholder {
  color: #999;
}
.fx-booking .fx-errorbar{
  display: flex;
  width: 100%;
  gap:30px;
}
.fx-booking .fx-errorbar div{
  width:50%;
  height:15px;
}

@media screen and (max-width: 480px) {
.fx-booking .fx-couponcontainer{
  width:100%;
}
.fx-booking .fx-coupon-box{
  width:90% !important;
}
.fx-booking .fx-giftbox{
  width:100% !important;
}
.fx-booking .fx-inputgroup{
  gap:0px;
}
.fx-booking .fx-commoninput .fx-inputgroup{
  flex-direction: column;
  margin-bottom: 10px;
}
.fx-booking .fx-commoninput .fx-checkboxcontainer{
  flex-direction: row;
  align-items: flex-start;
}
.fx-booking .fx-inputgroup{
  flex-direction: column;
}
.fx-booking .fx-element-box .btn-primary, .fx-booking .fx-element-box input[type="submit"], .fx-booking .fx-element-box input[type="button"], .fx-booking .fx-element-box button[type="button"]{
      width: 100%;
}
//  .fx-booking input[type="text"],
//  .fx-booking input[type="email"] {
//   margin-bottom: 0px;
//  }
 .fx-booking .fx-errortext{
  margin-top: 0px;
 }
.fx-couponcontainerinputbox {
        display: flex;
}
}
@media (min-width: 768px) and (max-width: 1100px) {
.fx-couponcontainerinputbox{
  display: flex;
}
.fx-booking .fx-errortext{
  margin-top: 0px;
}
}