@use "./variables";
@use "./card";
@use "./component";
@use "./modal";
@use "./rightsidebar";
@use "./stepper";
@use "./tab";
@use "./datepicker";
@use "./payment";
@use "./thankyou";
@use "./gift";
@use "./giftcardpreview";
@use "./orderdetails";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*,
:after,
:before {
    box-sizing: border-box;
}

html {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
    background: var(--greylight-bg);
}


.fx-booking.fx-container {
    display: flex;
    width: 1320px;
    height: 100%;
    position: relative;
    border: 1px solid #e1e1e1;
    margin: 2%;
    min-height: 650px;
    background: #f9fafb;
    border-radius: 8px;
    margin: auto;
}

.fx-down-icon-botttom{
    display: none;
}

.fx-booking .fx-leftbar {
    width: 100%;
    position: relative;
    max-width: 900px;
    padding-bottom: 16px;
}

h1 {
    text-align: left;
    font-size: var(--main-headingsize);
    font-weight: 400;
}

h2 {
    color: var(--darkgrey);
    font-size: var(--card-headingsize);
    font-weight: 400;
}

h3 {
    color: var(--darkgrey);
    font-size: var(--small-headingsize);
    font-weight: 400;
}

.fx-booking .fx-container .fx-leftbar .fx-leftcontentbox {
    margin-top: 50px;
    position: relative;
}



.fx-booking .fx-element-box {
    text-align: left;
    width: 100%;
}

 .fx-bottom-bar{
                display: inline-block;
                margin-bottom: 16px;
                width:100%;
            }
            
            .fx-bottom-bar .fx-skip{
                 float: left;
            }

            .fx-bottom-bar .fx-continue{
                 float: right;
            }



.fx-booking .fx-bookingdate span {
    font-weight: 200;
}


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) var(--white);
    scrollbar-arrow-color:var(--white);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 6px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
   
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
    border: 1px solid var(--white)
  
  }

.fx-booking .fx-addmorelink{
  font-size: var(--normal-descriptionsize);
  text-decoration: underline;
  font-weight: 400;
  cursor: pointer;
  margin-top:0px;
}

.fx-delete-coupon i{
    margin-top: 16px;
    margin-left: 8px;
}

.fx-timelistboxbar .fx-slotbox-active{
    background: var(--lightblue-secondary-active);
}

.percent-bar{
    height: 4px;
    background-color: #95B8FF;
    border-radius: 4px;
    display: inline-block;
    margin-top:3px;
}

.p-datepicker table td > span{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 4px;
}

.fx-leftcontentbox h1.fx-all-main-heading{
    margin-top:24px;
    font-size:28px;
    margin-top: 20px;
    margin-bottom: 16px;
}
.fx-booking .fx-commoninput .fx-toggleswitch{
    display: flex;
    gap: 8px;
    margin-top:24px;
    margin-bottom: 10px;
    flex-direction:column;
}

.fx-booking .fx-commoninput .fx-toggleswitch .p-inputswitch{
   top:-5px;
}

svg.p-icon.p-datepicker-next-icon{
    position:absolute;
}

svg.p-icon.p-datepicker-prev-icon {
    position: absolute;
}

.fx-booking .fx-popup .fx-rightpopup .fx-disable-button{
    background-color: #ccc;
    cursor: not-allowed;
}

.fx-extracontentboxlist .fx-quantitybox button:hover{
    color:var(--darkblue-color);
}
.fx-extracontentboxlist .fx-quantitybox input[type=number]{
    appearance: textfield;
}

@media screen and (max-width: 768px) {
/* body{
    overflow: auto !important;
}
 */
 .fx-booking.fx-container{
    display: inherit !important;
    width: 100%;
}
.fx-booking .fx-leftbar{
    padding:15px;
    padding-bottom:16px;
    overflow:auto;
    padding-bottom: 16px;
}
.fx-booking.fx-container{
    min-height:auto;
}
.fx-booking .fx-sidebar{
    display: none;
}
h1{
    font-size:22px;
    width:55%;
}

.fx-booking .fx-commoninput .fx-element-box.fx-checkoutbuttonbar{
    width: 93%;
    bottom: 10px;
    margin-top: 32px;
}
.p-sidebar-icons{
    display: none;
}
.p-sidebar-header{
    height:65px;
}
.fx-calendar-sidebar.p-sidebar .p-sidebar-header{
    height:auto;
}
.fx-leftcontentbox{
    margin-top: 20px;
}
 .p-sidebar-bottom, .p-sidebar-to, .p-sidebar {
        height: 90%;
}

.fx-booking .fx-giftbox{
    width: 100%;
}

.fx-booking .fx-rightpopup-middle .fx-center-content{
    justify-content: flex-start;
}

}

.fx-skeleton-row {
    display: none;
    gap: 20px;
    position: absolute;
    width: 100%;
    z-index: 9;
}

.fx-skeleton-row.show {
  display: flex;
}

.fx-skeleton-row.hide {
  display: none;
}

.fx-no-data.show {
    display: flex;
}

.fx-no-data.hide {
    display: none;
}

.fx-card-skeleton {
    width: 260px;
    padding: 16px;
    border-radius: 12px;
}

.fx-sk-img {
    width: 100%;
    height: 160px;
    border-radius: 8px;
    margin-bottom: 12px;
}

.fx-sk-tag {
    width: 60px;
    height: 18px;
    border-radius: 6px;
    margin-bottom: 12px;
}

.fx-sk-title {
    width: 70%;
    height: 20px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.fx-sk-text {
    width: 100%;
    height: 14px;
    border-radius: 6px;
    margin-bottom: 8px;
}

.fx-sk-text.short {
    width: 80%;
}

.fx-sk-price {
    width: 120px;
    height: 18px;
    border-radius: 6px;
    margin: 12px 0;
}

.fx-sk-button {
    width: 120px;
    height: 36px;
    border-radius: 30px;
}



/* SHIMMER EFFECT */
.fx-card-skeleton div {
    background: linear-gradient(
        90deg,
        #e0e0e0 25%,
        #f4f4f4 37%,
        #e0e0e0 63%
    );
    background-size: 400% 100%;
    animation: shimmer 1.4s infinite;
}

@keyframes shimmer {
    0% { background-position: -400px 0; }
    100% { background-position: 400px 0; }
}

/* Fullscreen transparent overlay */
.fx-fullscreen-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #62626230;  /* fully transparent */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.fx-slot-item.fx-slotbox-active{
    background-color: #F7F9FF;
}

.btn-primary.fx-redeem-btn-primary{
    margin-top: 16px;
}


.fx-fullscreen-loader.show {
  display: flex;
}

.fx-fullscreen-loader.hide {
  display: none;
}

/* Segmented spinner */
.fx-seg-loader {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 6px solid #d9d9d9;      /* light grey */
    border-top-color: #333;         /* dark segment */
    border-right-color: #b5b5b5;     /* medium segment */
    animation: spin 0.8s linear infinite;
}

.fx-leftcontentbox h1.fx-main-page-heading{
    font-size: 32px;
}

.fx-booking .fx-popup .fx-rightpopup .calendarbox.active .fx-date-progress-bar{
    background-color: var(--primary-color);
}

.fx-date-progress-bar{
    background-color: var(--border-color);
    height: 3px;
    border-radius: 4px;
    width: 32%;
    display: block;
    margin-top: 3px;
}

.p-carousel-container button[type=button].p-carousel-next, .p-carousel-container button[type=button].p-carousel-prev{
    background:none;
    color:#333;
}

// .p-carousel-items-container .fx-servicebox{
//   width: 300px;
// }

/* Rotate */
@keyframes spin {
    to { transform: rotate(360deg); }
}


@media screen and (max-width:768px) {
    .fx-skeleton-row{
            flex-direction: column;
    }
      .fx-booking .fx-mobilesidebar-top{
    top: 79px;
    height: 87px;
    box-shadow: none;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    left: 0px;
    position: absolute;
  }
  h1.fx-main-page-heading{
    font-size: 20px;
}
 .fx-calendar-sidebar.p-sidebar{
      height: auto;
  }
  .fx-leftcontentbox h1.fx-all-main-heading{
    margin-top: 0px;
    font-size: 20px;
    padding-left: 0px;
    margin-bottom: 12px;
}
}

.p-carousel-items-container .fx-extrabox{
  max-width: 224px;
  border: 1px solid #e2e4e9;
  border-radius:8px;
}
.p-carousel-items-container .fx-extrabox .fx-extrapicbox{
    position: relative;
}
.fx-extrabox .fx-extrapicbox img{
  display: block;
    width: 100%;
    max-width: 100%;
    height: 100% !important;
    object-fit: cover;
    object-position: center;
    transition: transform 0.2s;
    border-radius:8px 8px 0px 0px;
}

.fx-booking .fx-extrabox .fx-extracontentbox{
    width: 100%;
    height: auto;
    padding: 16px;
    background: var(--white);
    border-radius:0px 0px 8px 8px;
}

.fx-booking .fx-extrabox .fx-extracontentbox h4{
    font-size: var(--card-headingsize);
    font-weight: 300;
    margin: 0px;
    margin-bottom: 6px;
    height: 27px;
    overflow: hidden;
}

.fx-booking .fx-extrabox .fx-extracontentbox p{
    height: 42px;
    font-size: var(--normal-descriptionsize);
    font-weight: 300;
    color: var(--grey);
    margin-top: 4px;
    margin-bottom: 4px;
    overflow: hidden;
}

.fx-rightpopup-details-box{
    height: 501px;
    overflow: auto;
    overflow-x: hidden;
}

.fx-confirmation-popup{
    padding: 20px;
    background: #fff;
}

.fx-confirmation-popup button.p-component{
    margin-top: 31px;
    width: 100px;
}

.fx-confirmation-popup .p-dialog-content{
    display: flex;
    flex-direction:row;
    padding: 11px 5px;
    width: 320px;
}

.fx-confirmation-popup .p-dialog-header{
    position: inherit;
}

.fx-confirmation-popup .p-dialog-footer{
    padding: 0px;
    text-align: left;
}

.p-calendar:not(.p-calendar-disabled).p-focus > .p-inputtext{
        box-shadow: 0 0 0 0.2rem var(--primary-color);
}

.fx-element-box .btn-primary.fx-btn-disable{
    background-color: #ccc;
}

// .fx-element-box .btn-primary.fx-btn-disable:hover{
//     background:#ccc !important;
// }

.fx-booking .fx-element-box input.btn-primary.fx-btn-disable[type="submit"]:focus,
.fx-booking .fx-element-box input.btn-primary.fx-btn-disable[type="submit"]:hover {
   background:#ccc;
   cursor: not-allowed;
}

.fx-paymentbox h1.fx-all-main-heading{
    font-size: 28px;
    margin-bottom: 18px;
}



body.swal2-toast-shown .swal2-container{
    z-index: 99999;
}

body.swal2-toast-shown .swal2-container input[type="checkbox"]{
  display: none;
}

.swal2-container .swal2-popup.swal2-toast.swal2-icon-warning.swal2-show{
    display: flex !important;
    flex-direction: row;
}

button.p-confirm-dialog-accept.p-button.p-component{
    background:var(--primary-color);
    box-shadow:none;
    margin-left:10px;
}

.fx-confirmation-popup button.p-component{
    background: none;
    box-shadow:none;
}

.fx-confirmation-popup button.p-component:hover{
    color: var(--darkblue-color);
}

/* chrome, edge, safari */
.fx-extracontentboxlist .fx-quantitybox input[type="number"]::-webkit-outer-spin-button,
.fx-extracontentboxlist .fx-quantitybox input[type="number"]::-webkit-inner-spin-button,
.fx-extracontentboxlist .fx-quantitybox input[type="number"]:hover::-webkit-inner-spin-button,
.fx-extracontentboxlist .fx-quantitybox input[type="number"]:focus::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    appearance: none !important;
    margin: 0 !important;
    display: none !important;
}

.fx-content-with-topbar .fx-paymentbox{
    padding: 0px;
    margin-top: 0px;
    width: 50%;
}

.fx-paymentbox form h4{
     font-weight: 400;
     margin-top: 8px;
}

div:where(.swal2-container).swal2-center>.swal2-popup label.swal2-checkbox{
    display: none !important;
}

.swal2-actions button.swal2-confirm.swal2-styled{
    width: 150px;
    padding: 14px;
    background:var(--primary-color);
}

.fx-element-box span.fx-errortext{
    color: red;
}
.fx-tabcontent.selected h3{
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 12px;
    margin-top:0px;
}

.fx-booking input.fx-input-number[type=number]{
    border-radius: 4px;
    height: 52px;
}

.fx-booking input.fx-input-number[type=number], .fx-booking input.fx-input-firstname-box[type=number], 
.fx-booking input.fx-input-lastname-box[type=number], .fx-booking input.fx-input-email-box[type=number]{
    border-radius: 4px;
    height: 52px;
}

.fx-coupon-box-popup h2#swal2-title {
    margin: 0;
    padding: 0px;
    font-weight: 400;
    font-size: 35px;
}

.fx-coupon-box-popup div:where(.swal2-icon){
     border-color:#fff;
}

.fx-coupon-box-popup .fx-coupon-close-icon{
    width: 80px;
}


@media screen and (max-width:768px) {
    .fx-content-with-topbar .fx-paymentbox{
    padding: 0px;
    margin-top:24px;
    width:100%;
}
.fx-booking .fx-giftbox .fx-input-wrapper {
    margin-bottom:16px;
}
.fx-viewservice-button .btn-primary{
    margin-top: 10px;
}
.fx-tabcontent.selected h3{
    font-weight: 400;
    font-size:20px;
}
}


@media screen and (min-width: 1200px) {
  .fx-booking .fx-leftbar {
    max-width:850px;
    width: 100%;
    margin: 0 auto;
    padding-top: 32px;
    right: 180px;
  }
}



//  For Ipad
@media (min-width: 766px) and (max-width: 1100px) {
    .fx-booking.fx-container{
        padding:24px 30px;
        width:100%;
    }
    .fx-leftcontentbox h1.fx-all-main-heading{
        margin-top:30px;
    }
    .fx-booking .fx-sidebar{
        display: none;
    }
    .fx-booking .fx-mobilesidebar{
        width: 100%;
        height: auto;
        position: fixed;
        bottom: -2px;
        padding: 15px;
        font-size: var(--card-headingsize);
        background: var(--white);
        display: block;
        box-shadow: 0 -4px 4px -4px rgba(0, 0, 0, 0.3);
        z-index: 999;
        left:0px;
    }
    .p-sidebar-bottom .p-sidebar-top .p-sidebar {
        height: 90%;
    }
    .fx-booking .fx-servicecontainer .fx-servicebox{
        width: 48%;
    }

    .fx-leftcontentbox{
        min-height: 467px;
    }
}




//  For Rightdetils Setting
.fx-booking.fx-container .fx-sidebar{
    display: none;
}
@media screen and (min-width: 1200px) {
    .fx-booking.fx-container .fx-top-order-details-box{
        display: block;
    }
}
.fx-booking.fx-container .fx-leftbar{
    right: 0px;
}
.fx-top-order-details-box{
 display: block;
}
//  For Top Setting

@media (min-width: 768px) and (max-width: 1100px) {
.fx-booking .fx-leftbar {
    margin: auto;
}
}


.fx-booking .fx-mobilesidebar{
    display: none;
}