.fx-confirm-right {
    width: 100%;
}
.fx-confirm-innerrightbox{
     background: white;
    margin: 90px 70px;
    padding:20px 50px;
}
.fx-order-title {
    font-size: 15px;
    color: var(--darkgrey);
    line-height: 1.5;
    margin-bottom: 20px;
}

.fx-order-row {
    display: flex;
    justify-content: space-between;
    color: var(--darkgrey);
    font-size:var(--small-descriptionsize);
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 1.5;
}
.fx-order-row span{
    color: var(--grey);
    font-weight: 300;
}
.fx-order-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size:var(--small-descriptionsize);
}
.fx-order-table th{
    font-weight: 500;
}
.fx-order-table th,
.fx-order-table td {
    padding: 12px 4px;
    text-align: left;
}
.fx-order-table td{
    color: var(--grey);
    font-weight: 300;
}
.fx-order-table th:last-child{
    text-align: right;
}
.fx-order-table td:last-child{
    text-align: right;
}
.fx-summary {
    border-top: 1px solid var(--border-color);
    padding-top: 15px;
    font-weight: 500;
}

.fx-summary div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.fx-address-block {
    border-top:1px solid var(--border-color);
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.fx-address-block h4 {
    margin-bottom: 8px;
    margin-top:15px;
    font-size: var(--small-descriptionsize);
    font-weight: 500;
}
.fx-address-block p{
    font-size: var(--small-descriptionsize);
    color: var(--grey);
    margin-top:0px;
    line-height: 1.3;
    font-weight: 300;
}

@media (max-width: 900px) {
    .fx-confirmation-wrapper {
        flex-direction: column;
    }
    .fx-confirmation-wrapper h1{
        width: 100%;
    }
    .fx-confirm-left,
    .fx-confirm-right {
        width: 100%;
    }
}
