:root {
  --greylight-bg: #F9FAFB;
  --primary-color: #215AD4;
  --darkblue-color: #041F5A;
  --primary-light: #5D8EF8;
  --muted-color: #C5C4C4;
  --border-color: #DDE1EC;
  --white: #ffffff;
  --darkgrey: #161C2D;
  --grey: #5A616F;
  --lightgrey: #b2b0b0;
  --lightblue: #3076F8;
  --lightblue-secondary: #E1EBFF;
  --box-shadow: #00000038;
  --input-icon-color: #636363;
  --disabled-backgrouncolor: #e0e0e0;
  --disabled-bordercolor: #c7c7c7;
  --disable: #D3D3D3;
  --secondary-bgcolor: #B8B8B8;
  --lightblue-secondary-active: #F7F9FF;
  --error-color: #cf2929;
  --fx-secondary-colors:color-mix(in srgb, var(--primary-color) 80%, black);
}

:root {
  --small-headingsize: 20px;
  --card-headingsize: 20px;
  --extrasmall-headingsize: 18px;
  --normal-descriptionsize: 16px;
  --big-descriptionsize: 18px;
  --small-descriptionsize: 14px;
  --extrasmall-timeslotsize: 10px;
  --main-headingsize:24px;
  --tab-fontsize: 20px;
  --step-fontsize: 16px;
  --all-input-fontsize: 16px;
  --small-font-size: 14px;
  --button-fontsize: 16px;
  --all-regular-size: 16px;
  --all-card-heading:20px;
  --all-sub-heading:20px;
  --all-card-price-size: 16px;
   --all-card-category-size: 16px;
}


:root{
    --translateY: translateY(-2px);
    --hover-shadow:  0 2px 6px rgba(0, 0, 0, 0.1);
    --animation-transition:  all 0.3s ease;
}


// For All heading - Font Size 24px
// For Card heading, Tab - Font Size 20px
// For All description, Step, Price - Font Size 16px
// small description, small font size - Font Size 14px

