:root {
  --greylight-bg: #F9FAFB;
  --primary-color: #215AD4 !important;
  --darkblue-color: #041F5A;
  --primary-light: #5D8EF8;
  --muted-color: #C5C4C4;
  --border-color: #DDE1EC;
  --white: #ffffff;
  --darkgrey: #161C2D;
  --grey: #5A616F;
  --lightgrey: #b2b0b0;
  --lightblue: #3076F8;
  --lightblue-secondary: #E1EBFF;
  --box-shadow: #00000038;
  --input-icon-color: #636363;
  --disabled-backgrouncolor: #e0e0e0;
  --disabled-bordercolor: #c7c7c7;
  --disable: #D3D3D3;
  --secondary-bgcolor: #B8B8B8;
  --lightblue-secondary-active: #F7F9FF;
  --error-color: #cf2929;
}

:root {
  --main-headingsize: 28px;
  --small-headingsize: 20px;
  --card-headingsize: 22px;
  --extrasmall-headingsize: 18px;
  --normal-descriptionsize: 16px;
  --big-descriptionsize: 18px;
  --small-descriptionsize: 14px;
  --medium-subheadingsize: 24px;
  --extrasmall-timeslotsize: 10px;
}